@page "/music"
@using Microsoft.AspNetCore.WebUtilities
@inject NavigationManager navigationManager
@inject HttpClient Http

<style>
    button {
        margin-right: 10px;
        background: lightgray;
        border-radius: 25px;
        outline: none; 
        border: none;   
    }
    button:focus {
        background: green;
    }
    .icon__style {
        padding: 8px;
    }
</style>

<a href="/user-files?id=@idPars&name=@nameParse">
    <BSButton Size="Size.Small" Color="Color.Primary"><span class="oi oi-arrow-thick-left"></span> Назад</BSButton>
</a>
<br><br>

<h3>Музыка пользователя @nameParse</h3>

@if (musicFiles == null)
{
<p><em>Загрузка...</em></p>
}
else
{
    @if (musicFiles.Count > 0)
    {
        <BSTable IsBordered="true" class="table">
            <thead>
            <tr>
                <th>Название</th>
                <th>Описиание</th>
                <th>Длина</th>
                <th>ID</th>
                <th>Битрейт</th>
                <th>Размер файла</th>
                <th>Усправление музыкой</th>

            </tr>
            </thead>
            <tbody>
            @foreach (var sound in musicFiles)
            {
       
                <audio id="sound+@sound.Id" src="https://localhost:5000/@sound.File.Path" />

                <tr>
                    <td>@sound.File.Title</td>
                    <td>@sound.File.Description</td>
                    <td>@sound.Length</td>
                    <td>@sound.Id</td>
                    <td>@sound.Bitrate</td>
                    <td>@sound.File.Size</td>
                    
                    <td>
                        <button onclick="document.getElementById('sound+@sound.Id').play()">
                            <span class="icon__style oi oi-media-play"></span>
                        </button>
                        
                        <button onclick="document.getElementById('sound+@sound.Id').pause()">
                            <span class="icon__style oi oi-media-pause"></span>
                        </button>
                        <button onclick="document.getElementById('sound+@sound.Id').pause();document.getElementById('sound+@sound.Id').currentTime=0;">
                            <span class="icon__style oi oi-media-stop"></span>
                        </button>
                    </td>
                </tr>
            }
            </tbody>
        </BSTable>
    } 
    else
    {
        <h1>Вы еще не загрузили музыку</h1>
    }
}

@code {
    private string idPars;
    private string nameParse;
    private List<AudioFile> musicFiles;

    
    protected override async Task OnInitializedAsync()
    {
        
        var uri = navigationManager.ToAbsoluteUri(navigationManager.Uri);
        
        if(QueryHelpers.ParseQuery(uri.Query).TryGetValue("id", out var id))
        {
            idPars = id.First();
        }

        if(QueryHelpers.ParseQuery(uri.Query).TryGetValue("name", out var name))
        {
            nameParse = name.First();
        }
        
        string url = $"{Program.apiURL}/users/" + idPars + "/audio-files";
        
        musicFiles = await Http.GetFromJsonAsync<List<AudioFile>>(url);
    }
    
    
    public class AudioFile
    {
        public Guid Id { get; set; }
        
        public int Length { get; set; }
        
        public int Bitrate { get; set; }
        
        public UserFiles.File File { get; set; }
        
    }
    
}