@page "/docs"
@using Microsoft.AspNetCore.WebUtilities
@inject NavigationManager navigationManager
@inject HttpClient Http

<a href="/user-files?id=@idPars&name=@nameParse">
    <BSButton Size="Size.Small" Color="Color.Primary"><span class="oi oi-arrow-thick-left"></span> Назад</BSButton>
</a>
<br><br>

<h3>Файлы пользователя @nameParse</h3>


@if (textFiles == null)
{
<p><em>Загрузка...</em></p>
}
else
{
    @if (textFiles.Count > 0)
    {
        <BSTable IsBordered="true"  class="table">
            <thead>
            <tr>
                <th>Название</th>
                <th>Описание</th>
                <th>Размер</th>
                <th>SymbolCount</th>
                <th>Encoding</th>
                <th>ID</th>
                <th>Скачать</th>
            </tr>
            </thead>
            <tbody>
            @foreach (var file in textFiles)
            {
                <tr>
                    <td>@file.File.Title</td>
                    <td>@file.File.Description</td>
                    <td>@file.File.Size</td>
                    <td>@file.SymbolCount</td>
                    <td>@file.Encoding</td>
                    <td>@file.Id</td>
                    <td>
                        <a style="text-decoration: none" href="https://localhost:5000/@file.File.Path" target="_blank">
                            <span class="oi oi-cloud-download"></span>
                        </a>
                    </td>
                </tr>
            }
            </tbody>
        </BSTable>
    } else
    {
        <h1>Вы еще не загрузили документы</h1>
    }
}

@code {
    private string idPars;
    private string nameParse;
    private List<TextFile> textFiles;
    
    protected override async Task OnInitializedAsync()
    {
        
        var uri = navigationManager.ToAbsoluteUri(navigationManager.Uri);
        
        if(QueryHelpers.ParseQuery(uri.Query).TryGetValue("id", out var id))
        {
            idPars = id.First();
        }

        if(QueryHelpers.ParseQuery(uri.Query).TryGetValue("name", out var name))
        {
            nameParse = name.First();
        }
        
        string url = $"{Program.apiURL}/users/" + idPars + "/text-files";
        
        textFiles = await Http.GetFromJsonAsync<List<TextFile>>(url);
    }
    
    
    public class TextFile
    {
        public Guid Id { get; set; }

        public int SymbolCount { get; set; }
        
        public string Encoding { get; set; }
        
        public UserFiles.File File { get; set; }
    }
    
}