@page "/videos"
@using Microsoft.AspNetCore.WebUtilities
@inject NavigationManager navigationManager
@inject HttpClient Http

@using Blazored.Video
@using Blazored.Video.Support
<a href="/user-files?id=@idPars">
    <BSButton Size="Size.Small" Color="Color.Primary"><span class="oi oi-arrow-thick-left"></span>Назад</BSButton>
</a>
<br>

<h3>Видео пользователя @nameParse</h3>

@if (videoFiles == null)
{
<p><em>Загрузка...</em></p>
}
else
{
    @if (videoFiles.Count > 0)
    {
        <table class="table">
            <thead>
            <tr>
                <th>Video</th>
                <th>ID</th>
                <th>Bitrate</th>
                <th>Resolution</th>
                <th>Title</th>
                <th>Description</th>
                <th>Size</th>
            </tr>
            </thead>
            <tbody>
            @foreach (var sound in videoFiles)
            {
                
                <tr>
                    <td>
                        <BlazoredVideo Play="OnPlay"
                                       class="w-100"
                                       style="max-width:800px;"
                                       controls="controls">
                            <source src="https://localhost:5000/@sound.File.Path" type="video/mp4"/>
                        </BlazoredVideo>
                    </td>
                    <td>@sound.Id</td>
                    <td>@sound.Bitrate</td>
                    <td>@sound.Resolution</td>
                    <td>@sound.File.Title</td>
                    <td>@sound.File.Description</td>
                    <td>@sound.File.Size</td>

                </tr>
            }
            </tbody>
        </table>
    }
    else
    {
        <h1>Вы еще не загрузили файлы</h1>
    }
}

@code {
    private string idPars;
    private string nameParse;
    private List<VideoFile> videoFiles;

    void OnPlay(VideoState state)
    {
        var url = state.CurrentSrc;
    // do something with this
    }
    void OnTimeUpdate(VideoState state)
    {
        var url = state.CurrentSrc;
        var currentTime = state.CurrentTime;
    // do something with this
    }
    
    protected override async Task OnInitializedAsync()
    {
        
        var uri = navigationManager.ToAbsoluteUri(navigationManager.Uri);
        
        if(QueryHelpers.ParseQuery(uri.Query).TryGetValue("id", out var id))
        {
            idPars = id.First();
        }

        if(QueryHelpers.ParseQuery(uri.Query).TryGetValue("name", out var name))
        {
            nameParse = name.First();
        }
        
        string url = $"{Program.apiURL}/users/" + idPars + "/video-files";
        
        videoFiles = await Http.GetFromJsonAsync<List<VideoFile>>(url);
    }
    
    
    public class VideoFile
    {
        public Guid Id { get; set; }

        public string Resolution { get; set; }
        
        public int Length { get; set; }
        
        public int Bitrate { get; set; }
        
        public string Encoding { get; set; }
        public UserFiles.File File { get; set; }
    }
    
}